main {
  background-color:#dee2e6;
}

nav a {
  text-decoration: none;
  color: aliceblue;
}

nav a:hover {
  color: #dc3545;
}

.full-wrapper {
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
  font-size: 25px;
}

li.page-item .page-link {
  color: #198754;
}

li.page-item.active .page-link{
  background-color: #198754;
  border: #198754;
  color: white;
}